@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
font-family: 'Arial Narrow', Arial, sans-serif;
font-weight: bold;
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
text-decoration: none; 
}

.logoT {
    color: rgb(0, 0, 0);
    width: 100%;
    font-size: 40px;
    font-weight: 900px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    padding:15px;
    position: fixed;
    z-index: 999;
    background: rgba(202, 16, 16, 0);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
}

.imgd {
    width: 100%;
}


.imgp {
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-height: 100vh;
    animation: fadeIn 1s;
    box-shadow: 0 15px 35px rgba(1, 1, 1, 0.3);
}

.text {
    display: flex;
    font-size: 35px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 50px;
}

.textT {
    width: 50%;
    line-height: 60px;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;
}

.btn {
    padding-top: 20px;
    display: flex;
    font-size: 35px;
    width: 100%;
    height: 100%;
 justify-content: center;
 align-items: center;
 text-align: center;
}

.btnR {
    display: block;
    background-color: rgb(242, 192, 66);
    width: 140px;
    height: 60px;
    color: white;
    font-size: 20PX;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    transition: 0.4s ease;
}

.btnR:hover {
    background-color: rgb(220, 168, 35);
}

.btnR:active {
    background-color: rgb(201, 151, 26);
}

.sec {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.service-card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 150px;

}

.cards {
    width: 500px;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 0.2);
    border-radius: 20px;
    padding: 25px;
    margin: 20px;
    transition: transform 0.7s ease, box-shadow 0.7s ease;
}

.cards:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(1, 1, 1, 0.3);
}

.aboutS {
    color: black;
    font-size: 20px;
    margin: 15px 0;
    line-height: 1.5;
}

.imgS {
    width: 450px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.btnP {
    padding-bottom: 50px;
}

.order {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 250px;
    padding-top: 270px;
    background-image: linear-gradient(white, rgb(0, 105, 148));
}

.orderCard {
    display:grid;
    gap: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.input {
    display: block;
    background-color: rgb(230, 230, 230);
    padding-left: 15px;
    height: 30px;
    width: 470px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;    
}

textarea {
    width: 100%;
    padding: 6px ;
    border-radius: 4px;
    resize: none;
}

.btnO {
    display: block;
    background-color: rgb(242, 192, 66);
    width: 140px;
    height: 60px;
    color: white;
    font-size: 20PX;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    transition: 0.4s ease;
}

.btnO:hover {
    background-color: rgb(220, 168, 35);
}

.btnO:active {
    background-color: rgb(201, 151, 26);
}

footer {
    height: 200px;
    background-color: rgb(0, 105, 148);
}

.Contact {
    padding: 0px 120px;
    }

.social-icons{
    color: white;
    font-size: 35px;
    display: flex;
    gap: 20px;
}

.f1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
}

.fa-facebook{
    cursor: pointer;
    transition: 0.3s ease;
}
.fa-facebook:hover{
    transform: scale(1.1);
}
.fa-instagram{
    cursor: pointer;
    transition: 0.3s ease;
}
.fa-instagram:hover{
    transform: scale(1.1);
}

.fa-telegram{
    cursor: pointer;
    transition: 0.3s ease;
}
.fa-telegram:hover{
    transform: scale(1.1);
}

.fa-linkedin{
    cursor: pointer;
    transition: 0.3s ease;
}
.fa-linkedin:hover{
    transform: scale(1.1);
}

.f2 {
    color: white;
    width: 100%;
    padding-top: 20px;
    display: grid;
    gap: 10px;
    align-items: center;
}


@media screen and (max-width: 1800px) {
    .textT {
        width: 80%;
    }
  }

  @media screen and (max-width: 1000px) {

    .text {
        display: flex;
        font-size: 30px;

    }
    
    .textT {
        line-height: 50px;
    }

    .Contact {
        padding: 0px 80px;
        }

        .service-card {
            padding: 90px;
        }

        .input {
            width: 550px;
        }
  }

  @media screen and (max-width: 570px) {
    .textT {
        width: 95%;
        font-size: 25px;
        margin: auto;
    }

    .service-card {
        padding: 0px;
        padding-top: 70px;
        gap: 0px;
    }
    
    .cards {
        width: 400px;
        padding: 15px;
   }

   .aboutS {
    font-size: 18px;
}
    
   .imgS {
    width: 350px;

}

    .input {
        width: 400px;
    }

    .order {
        padding-bottom: 100px;
    }

    .Contact {
        padding: 0px 40px;
        }
}

@media screen and (max-width: 570px) {
    .cards {
        width: 350px;
   }
    
   .imgS {
    width: 320px;
}

    .input {
        width: 350px;
    }

    .Contact {
        padding: 0px 20px;
        }  
}

@media screen and (max-width: 385px) {
    .cards {
        width: 300px;
   }

   .aboutS {
    font-size: 15px;
}
    
   .imgS {
    width: 280px;
}

    .input {
        width: 270px;
    }

    .Contact {
        padding: 0px 15px;
        font-size: 15px;
        }  

        .f1 {
            font-size: 25px;
        }
        
        .social-icons{
            font-size: 25px;
        }
}